//////////////////////////////////////
//                                  //
//           BACKGROUNDS            //
//                                  //
//////////////////////////////////////

.blue-back
	background-color: $blue

.green-back
	background-color: $green

.red-back
	background-color: $red

.grey-back
	background-color: #f3f3f3
	
//////////////////////////////////////
//                                  //
//           CONTAINERS             //
//                                  //
//////////////////////////////////////

.test-box
	background-color: #ffffff
	border-radius: 5px
	padding: 10px
	margin-bottom: 10px
	margin-top: 10px

.narrow-card
	max-width: 400px
	margin-bottom: 20px
	.inner
		min-width: 400px
		border: 2px solid #f9f9f9
		.card-content
			border: 1px solid #f9f9f9
			border-top: 0
			padding: 15px
			width: 100%

.round-image-card
	max-width: 400px
	margin-bottom: 20px
	.inner
		border: 2px solid #f9f9f9
		.image
			position: relative
			padding: 25px 5px
			background-color: #f9f9f9
			text-align: center
			.over-text
				position: absolute
				width: 100%
				left: 0
				top: 130px
				color: #fff
				font-weight: 600
				font-size: 1.2rem 
				opacity: 0
				@include transition(0.2s)
			&:hover
				.over-text
					opacity: 1
					pointer-events: none
			img
				border-radius: 50%
				width: 230px
				height: 230px
				max-width: 100%
				max-height: 100%
				@include transition(0.2s)
				&:hover
					cursor: pointer
					opacity: 0.9
					
		.card-content
			border: 1px solid #f9f9f9
			border-top: 0
			padding: 15px
			width: 100%


//////////////////////////////////////
//                                  //
//            SEARCH                //
//                                  //
//////////////////////////////////////


// ------- FILTERS -------- //
	
.search-filters
	position: relative
	background-color: #1d2b36
	color: #fff
	@include box-shadow-floor-big
	padding: 15px
	z-index: 999
	// display: none
	margin-bottom: 10px
	margin-bottom: 25px
	label
		font-weight: 400
		margin: 0
		color: #fff
	input,select
		margin-right: 10px
	.hide-desk
		display: none
	.actionBtn
		margin-left: 10px
		margin-top: 20px
	.btn-close
		

@media (max-width: 765px)
	.search-filters
		form
			.form-group
				margin-bottom: 10px
		.actionBtn
			margin-left: 0

.search-results
	margin-bottom: 15px
	span
		font-weight: 600
//////////////////////////////////////
//                                  //
//             LISTS                //
//                                  //
//////////////////////////////////////

.list-actions
	margin-bottom: 15px
	.left
	.right
		text-align: right

@media (max-width: 765px)
	.list-actions
		.left
			margin-bottom: 15px
		.right
			text-align: left

.custom-list
	.row-selected
		background-color: #fff1e8 !important
		&:hover
			background-color: #ece1d9 !important 
	tr
		@include transition(0.2s)
		&:hover
			background-color: #ececec !important
			.show-link a
				color: $green
				
	.show-link a
		color: $blue
		font-weight: 600
.list-checkbox
	padding-left: 0 !important
	margin-bottom: 0




//////////////////////////////////////
//                                  //
//            FORMS                 //
//                                  //
//////////////////////////////////////

$phvColor: #000
$phvFsize: 0.9rem

// Textaerea trumbowyg
.trumbowyg-button-pane
	background-color: #DADADA
	
.trumbowyg-button-group 
	color: #383838
	&:hover
		color: #525252
.trumbowyg-box .trumbowyg-editor
	background-color: #fff
	border: 1px solid #ccc
	&:hover
		color: #383838

.trumbowyg-box 
	margin: 5px auto !important
	border: 0

.form-control
	@include transition(0.2s)
.form-control:focus
	box-shadow: none
	border: 2px solid #4B4568

/// Multiple Select Chosen

.chosen-container-single .chosen-single
	background: #fff
	box-shadow: none
	border-radius: 0
	padding: 6px 0px 0px 15px
	height: 36px
.chosen-container-multi .chosen-choices
	background: #fff
	box-shadow: none
	border-radius: 0
	padding: 3px 5px 3px 15px
	li.search-choice
		border: 0
		background-image: none
		box-shadow: none
		background-color: #7A83CA
		color: #fff
		a
			color: #fff



/// Image File Upload Input (JQuery Filer)
.jFiler-theme-default .jFiler-input-caption,.jFiler-theme-default .jFiler-input-button
	padding-top: 5px
.jFiler-theme-default .jFiler-input
	box-shadow: none
.jFiler-items-default .jFiler-item
	background-color: #fff


//////////////////////////////////////
//                                  //
//            BUTTONS               //
//                                  //
//////////////////////////////////////

.btn
	// margin-bottom: 15px
	@include transition(0.2s)
	border-radius: 20px

.btnSquare
	border-radius: 5px

.btnSm
	display: inline-block
	font-weight: normal
	line-height: 1.25
	text-align: center
	white-space: nowrap
	vertical-align: middle
	cursor: pointer
	user-select: none
	border: 1px solid transparent
	padding: 4px 12px
	font-size: 1rem
	border-radius: 0.18rem
	transition: all 0.2s ease-in-out

.btn-close
	position: absolute
	right: 5px
	top: 5px
	font-size: 1.5rem
	&:hover
		cursor: pointer
		color: #ccc

.btnGreen
	background-color: $green
	color: #fff
	&:hover
		background-color: $greenH
		color: #fff

.btnRed
	background-color: $red
	color: #fff
	&:hover
		background-color: $redH
		color: #fff

.btnYellow
	background-color: $orange
	color: #fff
	&:hover
		background-color: $orangeH
		color: #fff

.btnBlue
	background-color: $blue
	color: #fff
	&:hover
		background-color: $blueH
	&:active,&:focus
		color: #fff


.btnGrey
	background-color: #ccc
	color: #000
	&:hover
		background-color: #f9f9f9
	&:active,&:focus
		color: #000


//////////////////////////////////////
//                                  //
//              DECO                //
//                                  //
//////////////////////////////////////


.custom-badge
	display: inline-block
	min-width: 10px
	padding: 3px 7px
	font-size: 12px
	font-weight: 700
	line-height: 1
	color: #fff
	text-align: center
	white-space: nowrap
	vertical-align: middle
	border-radius: 10px
	margin-bottom: 5px

.softhr
	border-top: 1px solid #E4E4E4



//////////////////////////////////////
//                                  //
//           COLOR PICKER           //
//                                  //
//////////////////////////////////////

.colors-container
	position: relative
	.color-picker-list
		padding-top: 5px
		@include flex-center-left
		>div
			float: left
			margin-right: 5px
	.picked-color
		border: 0
		border-radius: 50%
		margin: 2px
		width: 40px
		height: 40px
		padding: 5px
		@include box-shadow-soft2	
	.ColorPickerLi
		margin: 2px
		width: 100px
		height: 40px
		position: relative

// ColorPicker Style
.sp-replacer
	background-color: $dark
	border: 0
	color: #fff
.sp-replacer.sp-active
	color: #fff
.sp-preview-inner
	border: 1px solid #fff
.sp-container
	border: 0
	background-color: $dark
	color: #fff
	@include box-shadow-big
.sp-cancel
	color: #fff
	&:hover
		color: #a1c1f6
.sp-choose
	border-radius: 0
	background-color: #fff


//////////////////////////////////////
//                                  //
//           PAGINATION             //
//                                  //
//////////////////////////////////////

ul.pagination
	margin-top: 2px

ul.pagination li
	display: inline
	font-size: 1rem
	font-weight: bold

ul.pagination li a
	padding: 8px 12px
	background-color: #fff

ul.pagination li a
	color: black
	text-decoration: none
	transition: background-color .3s
	border: 1px solid #ddd

ul.pagination li a.active
	background-color: #4CAF50
	color: white

ul.pagination li.active
	/*background-color: #4CAF50;*/
	background-color: #1D2B36
	padding: 8px 12px
	color: white

ul.pagination li.disabled
	background-color: #f9f9f9
	&:hover	
		cursor: not-allowed
	

/*ul.pagination li a:hover:not(.active) {background-color: #ddd;}*/
ul.pagination li a:hover
	background-color: #1D2B36
	color: #fff

ul.pagination li.disabled
    /*background-color: #cccccc;*/
    color: #ddd
    padding: 8px 12px
    border: 1px solid #ddd
    margin: 4px

//////////////////////////////////////
//                                  //
//              ALERTS              //
//                                  //
//////////////////////////////////////

.alert-success
	color: #fff
	background-color: $greenL
	border: 0


//////////////////////////////////////
//                                  //
//            BACKGROUNDS           //
//                                  //
//////////////////////////////////////


.blue-back
	background-color: $lightBlue
	color: #fff
	span
		color: #fff

.green-back
	background-color: $greenD	
	color: #fff
	span
		color: #fff

.light-green-back
	background-color: #dae2d4
	color: #383838

.light-grey-back
	background-color: #eaeaea
.inner-grey-back
	background-color: rgb(247, 247, 247)

//////////////////////////////////////
//                                  //
//              LOGIN               //
//                                  //
//////////////////////////////////////

.login-page
	background-color: $dark2

.login-container
	max-width: 400px
	margin-top: 150px
	.card-header
		padding: 0
	.rememberme-box
		margin-top: 10px
	.card-footer
		font-size: 0.8rem
	fieldset
		margin-bottom: 10px
	input
		margin-bottom: 5px
	input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill
		background-color: #fff !important